
#gpstracker {
    position:relative;
    left: 0px;
    top: 0px;
    width:620px;
    height:500px;
    border:1px;
    border-style:solid;
    margin: 0;
    padding: 0;
    background-color:#CCEDFF;
}

#gps_info_table {
    border-spacing: 0;
    border-collapse: separate;   
}

#gps_info_table td {
    padding: 0;
    text-align: right;   
}

#messages {
    position:relative;
    left: 10px;
    top: 10px;
    width:950px;
}
#map {
    position:relative;
    left: 10px;
    top: 10px;
    width:600px;
    height:400px;
    border:1px;
    border-style:solid;
    background-color:#FFF;
}
#selectRoute {
    position:relative;
    left: 10px;
    top: 15px;
    width: 602px;
    border:1px;
    border-style:solid;
    border-color:#555;
    padding:0px;
}
#selectRefresh {
    position:relative;
    left: 10px;
    top: 17px;
    width: 235px;    
    border:1px;
    border-style:solid;
    border-color:#555;
    padding:0px;    
}
#selectZoomLevel {
    position:relative;
    left: 10px;
    top: 17px;
    width: 235px;
    border:1px;
    border-style:solid;
    border-color:#555;
    padding:0px;        
}
#delete {
    position:relative;
    left: 10px;
    top: 17px;
    width: 60px;
    padding: 1px;
    margin: 0px;
    border:1px  
    border-style:solid;
    border-color:#555;    
}
#refresh {
    position:relative;
    left: 10px;
    top: 17px;
    width: 60px;
    padding: 1px;
    margin: 0px;
    border:1px;
    border-style:solid;
    border-color:#555;            
}

#waitImage{
    position:absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
